body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  padding: 3px;
  color: cornsilk;
  border: 4px solid rgb(255, 255, 255);
  border-radius:8px 8px;
  background: rgba(1, 26, 255, 0.733);
  font-size: 16px;
  position: relative;
}
.login{
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  border: 3px solid rgb(31, 194, 243);
  }
  .drob{
  padding: 5px;
  width: 50%;
  border: 8px solid rgba(29, 143, 196, 0.479);
  }

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}



ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 75px;
  border-radius: 25px;
  margin: 10px;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}



.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(115, 215, 228);
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
li:hover {
  background-color: rgba(36, 142, 184, 0.562);
  color: aqua;
}
.active {
  font-weight: bold;

}

.form{
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  border: 3px solid rgb(31, 194, 243);
}
.textarea {
  border-radius: 4px;
  border: 1px solid #1100ff;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  height: 10px;
}
.bt {
  text-transform: uppercase;
  padding: 3px;
  color: rgb(163, 14, 143);
  border: 4px solid rgb(93, 163, 103);
  border-radius:8px 8px;
  background: rgba(0, 255, 0, 0.445);
  font-size: 16px;
  position: relative;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.sp{
  float: left;
  padding: 5px;
  margin: 5px;
}
.mark{
  color: brown;
  font-size: 25px;
}
.lab{
  background-color: #4CAF50;
  border: 4px solid rgb(93, 163, 103);
  border-radius:8px 8px;
}